*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

::-webkit-scrollbar {
    background-color: black;
    box-shadow: 1px 1px 20px brown;
    width: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;
}

/*  */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 40px;
    transition: 1s;
}

.sticky{
    position: fixed;
    background-color: black;
    border-bottom: 1px solid brown;
    animation:Fade 3s ease;
    padding:5px 40px;
}

@keyframes Fade{
    0%{
        opacity: 0;
    }
}

.img-container-logo{
    position: relative;
    width: 80px;
    height: 80px;
}

.img-container-logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'poppins', sans-serif;
    margin-left: 55px;
    font-size: 17px;
    transition: 1s;
}

.navbar ul li a:hover{
    color: red;
}

.icons-menu i{
    color: white;
    font-size: 25px;
    margin-left: 15px;
    transition: 1s;
}

.A{
    display: none;
}

.icons-menu i:hover{
    color: red;
}

/*  */

.search{
    border-top: 1px solid brown;
    transition: 1s;
}

.search input{
    width: 100%;
    background: none;
    border: 1px solid #fff4;
    padding: 10px 0;
    text-align: center;
    color: aliceblue;
    display: none;
}

.search input:focus{
    outline: none;
}

/*  */

.banner{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url(./imgMF/bckground.jpg);
    width: 100%;
    min-height: 80vh;
    background-size: cover;
}

.banner-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.conteudo-banner{
    width: 300px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: 'poppins', sans-serif;
}

/*  */

.destaques{
    padding:100px 40px;
}

.destaques h2{
    color: brown;
    font-family: 'supermercado one', sans-serif;
}

.produtoFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.produto{
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
}

.produtoIMG{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.produto p{
    color: aliceblue;
    font-family: 'poppins', sans-serif;
}

.produto h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

.produto h3{
    font-size: 15px;
    color: aliceblue;
}

.produto button{
    padding: 10px;
    width:150px;
    border: none;
    margin-bottom: 50px;
    transition: 1s;
    font-family: 'supermercado one', sans-serif;
}

.produto button:hover{
    background-color: red;
}

/*  */

.prime{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'poppins',sans-serif;
}

.prime-background{
    background: url(./imgMF/bcgoprime.jpg);
    width: 100%;
    min-height: 130vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.primeFlex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.icons-prime{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    
}

.prime-conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
}

.icons-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 30px;
    width: 120px;
}

.icons-conteudo i{
    font-size: 40px;
}

.primeFlex2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.primeFlex3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prime-conteudo2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prime-conteudo2 h2{
    margin-bottom: 20px;
    margin-left: 10px;
}

.assinatura{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-left: 25px;
}

.bd{
    border-bottom: 1px solid brown;
    border-width: 3px;
    border-right: 1px solid brown;
    border-left: 1px solid brown;
    box-shadow: 1px 1px 20px brown;
}

.assinatura button{
    border: none;
    color: aliceblue;
    font-family: 'supermercado one' , sans-serif;
    background-color: brown;
    padding: 10px;
    box-shadow: 1px 1px 40px brown;
    transition: 1s;
}

.assinatura button:hover{
    transform: skew(30deg);
    background-color: red;
}

/*  */

.servicos{
    padding:100px 40px;
}

.subtitu{
    color: brown;
    font-family: 'supermercado one',sans-serif;
}

.servico1{
    color: aliceblue;
    font-family: 'supermercado one',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.servicoFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.servico1 h2{
    font-size: 25px;
}

.servico1 fieldset{
    width: 250px;
    padding: 10px;
}


.servico1 i{
    font-size: 30px;
}


/*  */

.faq{
    padding:100px 40px;
}

.faqFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-container{
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
}

/*  */

.fim{
    padding: 70px 40px;
    color: aliceblue;
    font-family: 'poppins',sans-serif;
}

.fimFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.img-footer{
    width: 150px;
    height: 150px;
}

.img-footer img{
    width: 100%;
    object-fit: cover;
}

.rede1 i{
    font-size: 24px;
    margin-left: 5px;
}

.menu-footer ul{
    list-style: none;
}

.menu-footer ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}

.menu-footer ul li a:hover{
    color: red;
}

.atendimento{
    width: 200px;
}

/*  */

.copyright{
    padding: 40px 10px;
    background-color: rgb(4, 4, 32);
    width: 100%;
    height: 100px;
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    text-align: center;
    border-top: 1px solid brown;
    box-shadow: 1px 1px 40px brown;
}

.copyright a{
    text-decoration: none;
    color: aliceblue;
}

.copyright a:hover{
    color: red;
}

@media (max-width:991px) {

    header{
        padding: 10px 20px;
        flex-wrap: wrap;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: -14rem;
        padding: 10px;
        transition: 1s;
        height: 100%;
        width: 220px;
        background-color: brown;
    }
    .navbar ul{
        display: block;
    }

    .navbar ul li{
        border: 1px solid black;
        background-color: brown;
        text-align: start;
    }

    .active{
        left: 0.1rem;
    }

    .icons-menu{
        display: flex;
    }

    .A{
        display: block;
    }

    .banner img{
        width: 220px;
        height: 220px;
    }
}
